.my-work span:hover{  
  cursor:pointer;
  background-color: #e1e0e0;
}  

.my-work span span{
  background-color: inherit;
}

.my-work{
  display: flex;
  justify-content: space-between;
  background-color: #eee
}

body {
  margin:50px 0px;
}

.white-text {
    color: white;
}

.my-work span{
  margin: 0;
  background-color: #eee;

  display: flex;
  justify-content: center;
  align-items:center;

  width: 100px;
  height: 60vh;
}


div.portfolio-item{
  max-height: 60vh;
  max-width: 60vw;
  overflow: hidden;
}

div.portfolio-item a{
  margin:auto;
}

.portfolio-caption{
  width: 20vw;

  background-color: hsla(0,0%,100%,0.7);
  border-radius: 0.6em;
  position: relative;
  top: -50vh;
  left: 10vw;

  color: gray;
}


section{
  margin:0 auto;
}
aside{
  width:20em;
  padding:10px 20px;
  margin: 10px auto 0;
}
